html {
  height: 100vh;
}
body {
  display: grid;
  min-height: 100vh;
  margin: 0px;
  font-family: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  color: white;
  padding: 20px;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.brand_logo {
  width: 100%;
  padding: 15px;
}

.maincontent_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(250px, auto);
  margin: 20px;
  grid-gap: 20px;
  padding: 10px;
}
.maincontent_container img {
  width: 100%;
  border-radius: 10px;
}
.maincontent_container h2,
p {
  color: white;
}
.footer_container h3,
p {
  padding: 10px;
}

.footer_container {
  background-color: #581845;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;

  width: 100%;
  bottom: 0px;
}

main {
  background-image: url("/images/green-texturebackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.maincontent_container p {
  max-width: 400px;
  margin: 0 auto;
}

header {
  background-color: #99cc99;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

nav li {
  font-size: 2em;
  color: purple;
}

ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
}

h1,
h3,
h4 {
  text-align: center;
  color: white;
  padding: 20px;
}

#hamburger-menu {
  display: none;
}
.hamburger-icon {
  display: none;
}

.icon {
  grid-column-start: 3;
  grid-column-end: 5;
  align-self: flex-end;
  padding: 10px;
}

.featuredimage_container {
  text-align: center;
}
.featuredimage {
  width: 75%;

  border-radius: 10px 10px;
  padding: 20px;
  filter: drop-shadow(15px 15px 10px black);
}

.featuredproducts_container img {
  width: 100%;
  border-radius: 15px 15px;
}

.featuredproducts_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: minmax(250px, auto);
  text-align: center;
  padding: 15px;
}
.featuredproducts_container p {
  max-width: 400px;
  margin: 0 auto;
}
.featuredproducts_container div {
  background-color: #fbb149;
  padding: 15px;
  border-radius: 10px 10px;
}

#like_icon {
  width: 30px;
  height: 30px;
  float: left;
}
