@media (max-width: 900px) {
  .maincontent_container,
  .header_container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .header_container img {
    padding: 30px;
    width: 100%;
    align-self: center;
  }

  nav {
    display: none;
  }
  nav li {
    font-size: 1.5em;
  }
  .hamburger-icon {
    color: black;
    padding: 10px;
    font-size: 1.5em;
    display: block;
  }
  #hamburger-menu:checked ~ nav {
    display: inline-block;
    width: 100%;
  }
  .icon {
    display: flex;
  }
  .featuredimage {
    width: 100%;
    padding: 25px;
  }
  .featuredproducts_container {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .icon img {
    align-items: end;
  }
  .fa-lg {
    align-items: end;
    margin-top: 33px;
    margin-left: -15px;
  }
}
